<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
</div>
MAIN PAGE!!
<form action="/login" method="GET" style="margin-top: 20px;">
    <button type="submit">Login</button>
</form>
<form action="/logout" method="POST" style="margin-top: 20px;">
    <button type="submit">LogOut</button>
</form>
<form action="/user" method="GET" style="margin-top: 20px;">
    <button type="submit">create</button>
</form>
<form action="/items" method="GET" style="margin-top: 20px;">
    <button type="submit">itemList</button>
</form>
<form action="/itemForm" method="GET" style="margin-top: 20px;">
    <button type="submit">itemCreate</button>
</form>
</body>
</html>
