<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/" method="GET" style="margin-top: 20px;">
    <button type="submit">Home</button>
</form>
<form action="/userProc" method="post" name="joinForm">
<!--    <input type="text" name="username" placeholder="Username"/>-->
<!--    <input type="password" name="password" placeholder="Password"/>-->
<!--    <input type="submit" value="Join"/>-->
    <div class="form-group">
        <label for="accountId">id:</label>
        <input type="text" id="accountId" name="accountId" required>
    </div>
    <div class="form-group">
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="confirmPassword">password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <span id="passwordError" class="error" style="display:none;">비밀번호가 일치하지 않습니다.</span>
    </div>
    <div class="form-group">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="nickName">nickName:</label>
        <input type="text" id="nickName" name="nickName" required>
    </div>
    <div class="form-group">
        <label for="phoneNumber">phoneNumber:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required>
    </div>
    <div class="form-group">
        <label for="email">email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">submit</button>
</form>

</body>
</html>